# Ignorar node_modules em cada projeto
first-project/node_modules/
second-project/node_modules/
loja/node_modules/

# Outros arquivos específicos de cada projeto
first-project/.env
second-project/.env
loja/.env

# Ignorar arquivos de log
first-project/*.log
second-project/*.log
loja/*.log

# Ignorar arquivos de configuração específicos de IDE
first-project/.vscode/
second-project/.vscode/
loja/.vscode/

# Ignorar arquivos temporários
first-project/.temp/
second-project/.temp/
loja/.temp/

# Ignorar outros diretórios ou arquivos específicos de cada projeto, se necessário
# Adicione mais projetos conforme necessário
